<div class="product-list">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control" 
          placeholder="Search product"
          [(ngModel)]="title"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchTitle()"
          >
            Search
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <h2>Product list</h2>

      <div fxLayout='row' fxLayoutWrap class="cards">
        <div fxFlex="20" class="example-card" 
        *ngFor="let product of products; let i = index" 
        [class.active]="i == currentIndex"
        (click)="setActiveProduct(product, i)">
          <mat-card>
            <mat-card-header>
              <mat-card-title>{{product.title}}</mat-card-title>
              <mat-card-subtitle>{{product.description}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://www.stofzuigerzakken-online.nl/contents/media/l_mondkapje-3-laags.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p style="color:black"><s>
                € {{product.price*1.15}}</s> (15% off)
              </p>
              <p style="color:red">
                € {{product.price}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button><a href="/products/{{ currentProduct.id }}">Details</a></button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
  
      <button class="m-3 btn btn-sm btn-danger" (click)="removeAllProducts()">
        Remove All Products
      </button>
    </div>
  </div>